.container{
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.description{
    padding-bottom: 30px;
}
.form{
    background-color: #103037;
    opacity: 1;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.form-group{
    margin: 0 auto;
    width: 50%;
    padding-bottom: 10px;
}
.form-control{
    width: 100%;
}
.form-group label{
    color: #fff;
    display: block;
    float: left;
    margin-bottom: 5px;
}
.input-textarea{
    height: 100px;
    width: 100%;
    border: none;
    padding: 10px;
    max-width: 100%;
    max-height: 100px;
}
.radio-input{
    margin: 0 auto;
    width: 100%;
    float: left;
    display: block;
    padding-bottom: 10px;
}
.left-input{
    float: left;
}
.form-check-label{
    margin-left: 5px;
}
.checkbox-input{
    margin: 0 auto;
    width: 100%;
    float: left;
    display: block;
    padding-bottom: 10px;
}
.submit-button{
    width: 100%;
    color: #fff;
    background-color: green;
    borde
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .form{
        width: 100%;
        border-radius: 0;
    }
    .form-group{
        width: 90%;
    }
}

